.Form {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2rem 3rem;
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  box-shadow: var(--light-shadow);
}

.Form h2 {
  color: var(--terciary-color);
  font-size: 2.2rem;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  background-color: var(--terciary-highligth-color);
  padding: 1rem;
  border-radius: 5px;
}

.Form label,
.Form .DateTime label {
  font-size: 1rem;
}

.Form label {
  display: flex;
  flex-direction: column;
}

.Form input[type="number"] {
  text-align: right;
}

.Form label input,
.Form .DateTime label input,
.Form .ShopInfoContainer .ShopInfo label input {
  margin-top: 0.7rem;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.625rem;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.09);
}

.Form label input[type="file"] {
  border: none;
  display: none;
}

.Form .ShopInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -4rem;
  z-index: 100;
}

.Form .ShopInfoContainer .ShopInfo {
  display: flex;
  gap: 2rem;
}

.Form .ShopInfoContainer .ShopInfo h5 {
  align-self: flex-start;
}

.Form .ShopInfoContainer .ReceiptContainer label {
  padding: 1.2rem 0.8rem;
  width: 13rem;
  background-color: var(--terciary-color);
  border-radius: 10px;
  color: var(--primary-color);
  text-align: center;
  letter-spacing: 3px;
  cursor: pointer;
}

.Form .DateTime {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  flex-direction: column;
}

.Form .ProdutosContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.Form .ProdutosContainer h5 {
  font-size: 1.4rem;
  margin-bottom: -0.3rem;
}

.Form .ProdutosContainer .Produtos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.Form .SubmitButton {
  width: 70%;
  height: 3rem;
  border-radius: 10px;
  border: none;
  box-shadow: var(--light-shadow);
  background-color: var(--terciary-color);
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 3px;
  cursor: pointer;
}

.Form .SubmitButton:hover,
.Form .ShopInfoContainer .ReceiptContainer label:hover {
  background-color: var(--terciary-hover-color);
}
